<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dropbox.Api" version="3.5.0" targetFramework="net461" />
  <package id="Nemiro.OAuth" version="1.11.2477" targetFramework="net461" requireReinstallation="true" />
  <package id="Nemiro.OAuth.LoginForms" version="1.4.2483" targetFramework="net461" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
</packages>